@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
h1 {
    font-family: "Open Sans", Helvetica;
    font-size: 4em; <!-- 1 em = 100%  bigger font = 200%, 300%-->
    color:#1c86ee;
    text-align: center;
}

p{
    margin: 0;
}
